<div class="footerfaustine">

    <img width="250" height="200" class="logoff" src="/images/logo.jpg">

    <div class="redes">
        <img width="70" height="70" class="logoIgNegro" src="/images/logoIgNegro.jpg">
        <img width="70" height="70" class="logoFaceNegro" src="/images/logoFaceNegro.jpg">
        <img width="70" height="70" class="logoWappNegro" src="/images/logoWappNegro.jpg">
        <img width="70" height="70" class="logoWappNegro" src="/images/logoMail.png">
        <p> Copyright ©️ 2022 Faustine</p>
    </div>

    <nav class="lista1">
        <ul>
            <li class="listasMargenes"><a href="#">Preguntas</a></li>
            <li class="listasMargenes"><a href="#">Ayuda</a></li>
            <li class="listasMargenes"><a href="#">La Marca</a></li>
            <li class="listasMargenes"><a href="#">Cambios y devoluciones</a></li>
        </ul>
    </nav>



    </div>

