
        <header class="header">
            <div class="search-bar">
               <!--<div class="cointainer, logo-nav-container">-->  
              <!-- <div class="form" action="#" method="GET">-->
                  <form action="#" method="GET">
                       <input type="search" name="busqueda" placeholder="¿qué estás buscando?">
                       <button id="botonSearch" type="submit" aria-placeholder="fa fa-search"><i class="fa fa-search"></i></button>  
                   </form>              
               </div>                  
             
               <div class="logo-nav-container">
                   <div class="Faustine">
                       <img  class="logoF" src="/images/LogoFaustine-header.jpg">
                       <h3> Faustine </h3>
                   </div>
                   
                   <div class="imgs">
                    <a href= "/users/login"><i class="fas fa-user-circle"></i></a>
                    <a href= "/users/listUsuarios"><img id="saleLogo" src="/images/address-book-solid.svg"></a>                      
                    <a href= "/users/cerrarSesion"><img id="saleLogo" src="/images/right-from-bracket-solid.svg"></a>                      
                    <a href= "/product/carrito"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                    <a href= "/product/altaProducto"><i class="fas fa-file-alt"></i></a>
                   <!--- <a href= "/product/bajaProducto"><i class="fa-regular fa-trash-can"></i></a>-->
                   <a href="/product/listProductos"><img id="borrarIcon" src="/images/trash-can-solid.svg"></a>
                    <a href= "/product/ofertas"><img id="saleLogo" src="/images/icono.sale.png"></a>              
      
                   </div>
               </div>
           </header>
      
          <!--- <header> -->