<!DOCTYPE html>
 
<html>
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <

        <link rel="stylesheet" href="/stylesheets/home.css">
        <link rel="stylesheet" href="/stylesheets/global.css">
        <link rel="stylesheet" href="/stylesheets/ofertas.css">



        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <!--<script src="https://kit.fontawesome.com/812a77d5cc.js" crossorigin="anonymous"></script>-->
        <link rel="https://fontawesome.com/">
        <title>Faustine</title>
       
    </head>
 
    <body>
        <!--
        <header class="header">
         <div class="search-bar">
            <div class="cointainer, logo-nav-container">-->  
           <!-- <div class="form" action="#" method="GET">-->
           <!--    <form action="#" method="GET">
                    <input type="search" name="busqueda" placeholder="¿qué estás buscando?">
                    <button id="botonSearch" type="submit" aria-placeholder="fa fa-search"><i class="fa fa-search"></i></button>  
                </form>              
            </div>                  
          
            <div class="logo-nav-container">
                <div class="Faustine">
                    <img  class="logoF" src="images/LogoFaustine-header.jpg">
                    <h3> Faustine </h3>
                </div>
                
                <div class="imgs">
                 <a href= "/login"><i class="fas fa-user-circle"></i></a>
                 <a href= "/carritoDeCompras"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                 <a href= "/altaProducto"><i class="fas fa-file-alt"></i></a>
                 <a href= "/altaProducto"><img id="saleLogo" src="images/icono.sale.png"></a>              
   
                </div>
            </div>
        </header> -->
        <%- include('partials/header') %>

        <main>
            <!-- PRUEBO FLOR PARA MOSTRAR OFERTAS-->
            <h1>OFERTAS DE LA SEMANA </h1>
            <div class="cuerpoFlor">
            <nav class="menu">
                <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
                <label class="menu-open-button" for="menu-open"><img src="/images/icono.sale.png"></label>
                 <span class="lines line-1"></span>     
                 <!--<span class="lines line-2"></span>
                 <span class="lines line-3"></span>-->
               </label>
             
                <!--<a href="#" class="menu-item blue"> <i class="fa fa-anchor"></i> </a>-->
               <!--- <a href="#" class="menu-item blue"><img src="/img/remeraSupermanSinFondo.png"></a>-->
                <!--<a href="#" class="menu-item green"><i class="fa fa-coffee"></i> </a>-->
                <a href="detalleDeProducto" class="menu-item green"><img src="/images/carteraLouisRosa1.SinFondo.png"></a>
                <a href="detalleDeProducto" class="menu-item red"><img id="imgRed" src="/images/bandoleraBeigeSinFondo.png"></a>
                <a href="detalleDeProducto" class="menu-item purple"><img id="imgGrande" src="/images/gucci.1.SinFondo.png"></a>
                <!--<a href="#" class="menu-item orange"> <i class="fa fa-star"></i> </a>-->
                <a href="detalleDeProducto" class="menu-item orange"><img id="imgOrange" src="/images/bolsoFaustineSinFondo.png"></a>
                <a href="#" class="menu-item lightblue"> <i class="fa fa-diamond"></i> </a>
            </nav>
            </div>
            <!-- termina el tema de flor -->       
            <div class= "closeMain" >
                    <a href="/" id="vuelvo">Volver a Pagina Principal</a>
            </div>
                    
            <!--</form>-->
            
            </main>
            </body>