bodyB {
    align-items: center;
   /* background-image: url(/images/imagenFondoLogin-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 70%;*/
    /*background: #E3E3E3;*/
    display: flex;
    /*height: 180vh;*/
    padding-bottom: 1rem;
    justify-content: center;
  }
  #imgBarra{
    width: 7rem;
  }
  #imgBarraGrande{
    width: 5rem;
  }
  #imgBarraChica{
    width: 8rem;
  }
  #imgBarraMediana{
    width: 6rem;
  }
  @-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  .slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 1200px;
  }
  .slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
            animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  .slider .slide {
    height: 100px;
    width: 250px;
  }
  
  @media (max-width:500px){
    .slider {    
      width: 600px;
    }
  }
  
























